<ion-menu contentId="main-content" >
  <ion-header [translucent]="true">
    <ion-toolbar> 
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/home">Inicio</ion-item>
      <ion-item routerLink="/about">Acerca de</ion-item>
      <ion-item routerLink="/login">Login</ion-item>
      <ion-item routerLink="/registro">Registro</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <ion-title style="font-weight: bold;">Datos del Viaje</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div *ngFor="let viaje of viajes">
    <img src="./assets/logo.png" alt="">
    <div class="container-input-sup">
      <div class="simbolo">
        <div class="linea"></div>
      </div>
    </div>

    <div class="container-input-inf">
      <ion-item fill="outline">
        <ion-label>Patente:{{viaje.patente}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Destino:{{viaje.destino.direccion}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Valor:{{viaje.valorViaje}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>N° Pasajero:{{viaje.cantidadPasajeros}}</ion-label>
      </ion-item>
      <ion-button mode="ios" expand="block" color="tertiary" (click)="seleccionarViaje(viaje.id!)">Seleccionar Viaje</ion-button>
    </div>
  </div>
</ion-content>

