<ion-header>
  <ion-toolbar>
    <ion-title>Datos del Viaje</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background: none;">
    <div>
      <img src="./assets/icon/icon-nb.png" alt="">
      <div class="container-input-sup">
        <div class="simbolo">
          <div class="linea"></div>
        </div>
        <form action="">
          <ion-item>
            <ion-input placeholder="Desde Duoc Maipu" disabled></ion-input>
          </ion-item>
          <input placeholder="¿A Dónde?" #inputAutocmplt class="autocompletado">
        </form>
      </div>

      <div class="container-input-inf">
        <ion-item>
          <ion-input [(ngModel)]="patente" label="Patente" labelPlacement="floating" pattern="^[A-Z]{4}\d{2,3}$" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="time" [(ngModel)]="salida" label="Salida" labelPlacement="floating" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="valor" label="Valor" labelPlacement="floating" max="100000" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="numPasajeros" label="N° Pasajeros" labelPlacement="floating" max="10" required></ion-input>
        </ion-item>
        <ion-button mode="ios" expand="block" color="tertiary" (click)="agregarViaje()">Agregar Viaje</ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>