<ion-header>
  <ion-toolbar>
    <ion-title>Datos del Viaje</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="./assets/logo.png" alt="">
    <div class="container-input-sup">
      <div class="simbolo">
        <div class="linea"></div>
      </div>
      <form action="">
        <ion-item>
          <ion-input placeholder="Desde Duoc Maipu" disabled></ion-input>
        </ion-item>
        <input placeholder="¿A Donde?" #inputAutocmplt class="autocompletado">
      </form>
    </div>

    <div class="container-input-inf">
      <ion-item>
        <ion-input [(ngModel)]="patente" label="Patente" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="salida" label="Salida" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="valor" label="Valor" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="numPasajeros" label="N° Pasajero" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-button mode="ios" expand="block" color="tertiary" (click)="agregarViaje()">Agregar Viaje</ion-button>
    </div>
  </div>
</ion-content>
