<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
      <ion-menu-toggle *ngFor="let c of componentes">
        <ion-item [routerLink]="c.redirecTo" detail="true">
          <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
            {{c.name}}
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle *ngIf="user && user.conductor">
        <ion-item routerLink="/viajes-activos" detail="true">
          <ion-icon name="car-outline" slot="start" color="primary"></ion-icon>
          Viajes Activos
        </ion-item>
      </ion-menu-toggle>
      <ion-item (click)="logOut()">Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
