<ion-content class="ion-padding" scrollY="false">
  <div class="logo-container">
    <img src="assets/icon/icon-nb.png" alt="Logo de la aplicación" class="logo-img">
  </div>
  <div class="welcome-text">
    <ion-title>Iniciar Sesión</ion-title>
  </div>
</ion-content>

<ion-content>
  <ion-card style="background: none;">
      <ion-card-content>
      <form [formGroup]="formularioLogin">

        <ion-item>
          <ion-label position="floating">Correo </ion-label>
          <ion-input type="email" pattern="^[a-zA-Z.]{1,20}@duocuc\.cl$" formControlName="correo" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña </ion-label>
          <ion-input type="password" pattern="[A-Za-z0-9@$!%*?&]{8,12}" formControlName="password" required></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="Ingresar()" expand="block"  shape="round">
        Ingresar
      </ion-button>
      <ion-button [routerLink]="['/recuperar']" expand="block" fill="outline" shape="round" style="margin-top: 20px;">Recuperar Contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
