<ion-menu contentId="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar> 
      <ion-buttons slot="end">
        <ion-button (click)="getDriver()" (click)="mostrarMenu()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/home">Inicio</ion-item>
      <ion-item routerLink="/about">Acerca de</ion-item>
      <ion-item routerLink="/login">Login</ion-item>
      <ion-item routerLink="/registro">Registro</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <ion-title>FasTrip</ion-title>
        <ion-img slot="end" src="./assets/logo.png"></ion-img>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="usuario" class="ion-padding">
    <ion-button *ngIf="usuario.rol=='pasajero'">Buscar un Conductor</ion-button>
    <ion-button *ngIf="usuario.rol=='conductor'">Ingresar Vehiculo</ion-button>
  </ion-content>
</div>

<!--
<ion-content>
  <
    LO QUE ESTA EN ESTA PARTE ES UN EJEMPLO PARA PODER TRAER LA API DE FIREBASE A LA PAGINA CON UN FOREACH QUE ESTA EN home.page.ts
    <div *ngFor="let chofer of conductores">
    <h3>Nombre: {{chofer.nombre}}</h3>
    <h3>Apellido Paterno: {{chofer.apepat}}</h3>
    <h3>Apellido Materno: {{chofer.apemat}}</h3>
    <h3>Edad: {{chofer.edad}}</h3>

  </div>

  NO TOCAR ESTO. esto es el boton que llamara a la funcion para enviar los datos que estan en home.page.ts bajo la estructura de models.ts
  <ion-button (click)="crearNuevoUsuario()">
    crear
  </ion-button>


</ion-content>
-->
